$dark: #2C3E50;
$light: #ECF0F1;
$contrast: #E74C3C;
$primary: #3498DB;
$secondary: #2980B9;

$font: Helvetica, sans-serif;


html, body {
  background: $dark;
  font: 16px $font;
  color: $light;
}

#app {
  width: 400px;
  margin: 20px auto 0;

  h2 {
    text-align: center;
  }

  .new-task {
    background: $primary;
    padding: 10px;

    input {
      background: transparent;
      border: none;
      width: 100%;
      outline: none;
      font: .9rem monospace;
      color: $light;

      &::-webkit-input-placeholder {
        color: rgba($light, .7);
      }
    }
  }

  .task-list {
    padding: 0;
    background: linear-gradient(red, rgb(255,220,0));
  }

  .task {
    list-style-type: none;
    font: .9rem monospace;
    padding: 15px 10px;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1));
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;

    &:before {
      content: '☐ ';
      font-size: 1em;
      color: $light;
    }

    &.task-completed {
      text-decoration: line-through;
      opacity: .6;

      &:before {
        content: '✓ ';
      }
    }
  }
}
