$dark: #2C3E50;
$light: #ECF0F1;
$contrast: #E74C3C;
$primary: #3498DB;
$secondary: #2980B9;

$dark: #191B28;
$light: #FFE9A3;
$contrast: #E83A25;
$primary: #004563;
$secondary: #98CC96;

// $dark: #5C4B51;
// $light: #F2EBBF;
// $contrast: #8CBEB2;
// $primary: #F06060;
// $secondary: #F3B562;

// $dark: #5C4B51;
// $light: #F3FFE2;
// $contrast: #F06060;
// $primary: #1695A3;
// $secondary: #ACF0F2;

@import url(https://fonts.googleapis.com/css?family=Signika:700);
$body-font: Helvetica, sans-serif;
$title-font: Signika, sans-serif;


html, body {
  background: $dark;
  font: 16px $body-font;
  color: $light;
}

#app {
  width: 360px;
  margin: 20px auto 0;

  h2 {
    text-align: center;
    font: 2.5em $title-font;
    margin: 1.5em 0 1em;
  }

  .new-idea {
    background: $contrast;
    padding: 14px;
    // border-bottom: 1px solid $secondary;

    input {
      background: transparent;
      border: none;
      width: 100%;
      outline: none;
      font: .9rem monospace;
      color: $light;

      &::-webkit-input-placeholder {
        color: rgba($light, .7);
      }
    }
  }

  .idea-list {
    padding: 0;
    margin: 0;
    background: linear-gradient(red, rgb(255,200,0));
    box-shadow: 0 20px 40px 5px rgba(0,0,0,.5);
  }

  .idea {
    list-style-type: none;
    font: .9rem monospace;
    padding: 15px 10px;
    background: $primary;
    box-shadow: 0 -1px 0 0 rgba(0,0,0,.2);
    cursor: pointer;
    text-shadow: 0 1px 0 rgba(0,0,0,.3);
    // border-top: 1px solid $secondary;
  }
}
